* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none !important;
    list-style-type: none;
}

/*GOOGLE FONT*/

.montserrat-normal {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

/*BODY*/

body {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #FAFBFD;
    flex-direction: column;
    align-items: center;
}

/*HEADER*/

header {
    background-color: #FAFBFD;
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    margin-bottom: 15px;
    z-index: 1;
}
header nav {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 38px;
    position: relative;   
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
header nav ul {
    display: flex;
    position: absolute;
    justify-content: center;
}
header nav ul li {
    margin: 0 2.8rem;
    position: relative;
}
header nav ul li a {
    font-size: 17px;
    color: #206f30;
}
.logo{
    width: 12rem;
}
.logo-container {
    display: flex;
    position: relative;
    bottom: 10px;
}
.div-menu{
    float: right;
    display: none;
}

/*ANIMACION MENU*/

header nav ul li a:before {
    content: '';
    width: 0px;
    height: 2px;
    background: #206f30;
    position: absolute;
    top: 100%;
    left: 0;
    transition: .5s;
}
header nav ul li:hover a:before {
    width: 50%;
    transform: translateX(100%);
}
header nav ul li:hover {
    font-size: 23px;
    transition: .5s;
}

/*MAIN*/

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 320px;
    margin-top: 260px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

/*CAROSUEL*/

.carousel {
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
}
.sec-carousel {
    width: 60%;
    margin-bottom: 40px;
}
.carousel-inner {
    max-width: 100% !important;
    height: auto !important;
}

/*CARDS*/

.card-container-ini {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.card-ini {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0;
}
.card-titulo {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    position: absolute;
    color: white;
    font-size: 45px;
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
    flex-direction: column;
}
.card-titulo span {
    font-size: 38px;
    font-weight: 600;
}
.enlace-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: 0.8s ease;
    border-radius: 0;
}
.enlace-card img {
    border-radius: 0;
}

.card:hover a {
    transform: scale(1.1);
}

/*FOOTER*/

footer {
    background-color: #206f30;
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1;
    margin-top: auto;
    margin-bottom: 25px;
    justify-content: space-around;
}
.logo-chico {
    position: relative;
    right: 100px;
    margin-right: 15px;
    border-right: 2px solid white;
    width: 8rem;
}
.nav-con-foot {
    margin-top: 14px;
    position: relative;
    right: 480px;
}
.nav-con-foot ul li a {
    color: #FAFBFD;
    font-weight: 450;
}
.div-redes {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    align-self: self-end;
    left: 100px;    
    bottom: 33px;
}
.div-redes h6 {
    color: #FAFBFD;
    font-weight: 600;
    cursor: default;
}

/*PLANTAS*/

.product-card {
    width: 200px;
    height: 300px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.product-image {
    max-width: 100%;
    height: auto;
}

.product-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.product-price {
    font-size: 14px;
    color: #333;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}