* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none !important;
  list-style-type: none;
}

.montserrat-normal {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #FAFBFD;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #FAFBFD;
  width: 100%;
  height: 193px;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  margin-bottom: 10px;
  z-index: 4 !important;
  padding-top: 10px;
}
header nav {
  display: none;
  justify-content: center;
  width: 100%;
  height: 40px;
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  margin-top: 170px;
}
header nav ul {
  display: flex;
  position: absolute;
  justify-content: center;
  padding-bottom: 20px;
}
header nav ul li {
  margin: 0 2.8rem;
  position: relative;
}
header nav ul li a {
  font-size: 17px;
  color: #206f30;
  transition: 0.3s;
}
header nav ul li a:hover {
  color: #43db61;
}

.logo-container {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 10px;
  width: 100%;
}

.logo {
  width: 8rem;
  position: absolute;
  transition: transform 0.5s;
}
.logo:hover {
  transform: scale(1.08);
}

.a-logo {
  display: flex;
  position: relative;
  justify-content: center;
}

.menu-desplegable {
  display: flex;
  position: relative;
  margin-top: 150px;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #2d8d40;
  padding-bottom: 8px;
}
.menu-desplegable ul {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.dropdown-menu {
  background-color: #eef8f0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}
.dropdown-menu li {
  width: 100%;
  padding: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #e1e2e1;
  border-top: none;
}
.dropdown-menu li:hover {
  background-color: #89d197;
}
.dropdown-menu li a {
  color: #2a863d;
}
.dropdown-menu li a:hover {
  background-color: #89d197;
}

.dropdown-item {
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}

.anuncio {
  display: none;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 320px;
  margin-top: 210px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.carousel {
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
}

.sec-carouselindex {
  width: 100%;
  margin-bottom: 20px;
}

.carousel-inner {
  max-width: 100% !important;
  height: 100% !important;
}

.sec-carouselnos {
  width: 100%;
  margin-bottom: 10px;
  z-index: -1;
}

.div-carouselcon {
  width: 100%;
  margin-bottom: 30px;
  z-index: -1;
}

.card-container-ini {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 100%;
}

.card-ini {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0;
  width: 25rem;
  margin: 5px;
}
.card-ini a:hover {
  transform: scale(1.1);
}

.card-titulo {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: absolute;
  color: white;
  font-size: 45px;
  text-shadow: 1px 1px 2px black;
  cursor: pointer;
  flex-direction: column;
}
.card-titulo span {
  font-size: 38px;
  font-weight: 600;
}

.enlace-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 0.8s ease;
  border-radius: 0;
}
.enlace-card img {
  border-radius: 0;
}

.div-card-lo-nuevo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 10px;
}

.div-card-plantas {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 30px;
}

.card-plantas {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 380px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 2px 8px #a1ceaa;
  transition: 0.8s;
}
.card-plantas h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.card-plantas p {
  font-size: 16px;
  font-weight: 300;
}
.card-plantas:hover {
  transform: scale(1.03);
}

.img-con-plantas {
  width: 100%;
  height: 220px;
  position: relative;
  z-index: 1;
}

.text-con-plantas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-plantas {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.la-quiero-plantas {
  font-size: 13px;
  font-weight: 500;
  padding: 5px;
  background-color: rgba(117, 173, 27, 0.5568627451);
  border-radius: 7px;
  border: none;
  box-shadow: 1px 1px 8px #206f30;
  margin-bottom: 10px;
}

.sec-lo-nuevo {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 70px;
}
.sec-lo-nuevo h2 {
  color: #206f30;
  margin-bottom: 50px;
}

footer {
  background: rgb(32, 111, 48);
  background: linear-gradient(90deg, rgb(32, 111, 48) 0%, rgb(76, 164, 79) 84%);
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1;
  margin-top: auto;
  margin-bottom: 25px;
  justify-content: space-between;
  padding: 30px;
}

.div-logo-footer {
  display: flex;
  position: relative;
  padding-right: 15px;
  justify-content: space-around;
  align-items: center;
}
.div-logo-footer a {
  transition: text-shadow 0.3s;
}
.div-logo-footer a img:hover {
  transform: scale(1.05);
}

.logo-chico {
  width: 6rem;
  transition: transform 0.5s;
}

.nav-con-foot {
  display: none;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  padding-left: 15px;
  border-left: 2px solid #FAFBFD;
}
.nav-con-foot ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0px;
}
.nav-con-foot ul li a {
  color: #FAFBFD;
  font-weight: 450;
  transition: text-shadow 0.3s;
  transition: margin-left 0.5s;
}
.nav-con-foot ul li a:hover {
  text-shadow: 0 0 10px rgb(255, 255, 255);
  margin-left: 7px;
}

.div-redes {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  margin-right: 30px;
}
.div-redes h6 {
  color: #FAFBFD;
  font-weight: 600;
  cursor: default;
}

.div-logo-redes svg {
  transition: filter 0.5s;
}
.div-logo-redes svg:hover {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.sec-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 15px;
  width: 90%;
}
.sec-nosotros h2 {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #164d21;
  color: #206f30;
  font-weight: 400;
  font-size: 1.8rem;
  margin-top: 35px;
  margin-bottom: 25px;
}
.sec-nosotros p {
  color: #206f30;
  font-weight: 400;
  font-size: 16px;
}
.sec-nosotros ul {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.sec-nosotros ul li {
  margin-left: 0;
}
.sec-nosotros ul li p span {
  font-weight: 600;
}
.sec-nosotros .gracias {
  font-weight: 600;
  margin-top: 40px;
}

.div-img-nosotros {
  width: 100%;
}
.div-img-nosotros img {
  width: 100%;
}

.sec-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -10px;
}

.div-datos {
  display: flex;
  padding-left: 5px;
  margin-left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.div-datos h3 {
  color: #164d21;
  margin-bottom: 20px;
  text-decoration: underline !important;
  font-size: 25px;
  font-weight: 400;
}
.div-datos ul {
  padding-left: 0;
}
.div-datos ul li a {
  color: #164d21;
  margin-left: 10px;
  transition: all 0.5s ease;
  font-size: 20px;
}
.div-datos ul li a:hover {
  margin-left: 14px;
  color: #2af753;
}
.div-datos ul li img {
  width: 35px;
  height: 35px;
}
.div-datos ul li svg {
  width: 35px;
  height: 35px;
}

.icono-ubicacion {
  scale: 1.2;
}

.div-map {
  display: none;
  width: 90%;
  margin-top: 20px;
  padding: 25px;
}
.div-map iframe {
  width: 100%;
  height: 200px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  align-items: center;
  margin-top: 15px;
}
.form .campo, .form textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  border: 1px solid rgb(190, 188, 188);
  margin-bottom: 30px;
  border-radius: 3px;
  outline: 0px;
}
.form textarea {
  height: 240px;
}
.form .btn-enviar {
  padding: 15px;
  font-size: 14px;
  border: none;
  width: 160px;
  background-color: #608f69;
  border-radius: 4px;
  color: #f9f9f9;
  transition: all 0.8s ease;
}
.form .btn-enviar:hover {
  background-color: #324e38;
}

.sec-accordion {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.sec-accordion h1 {
  margin-top: 15px;
  color: #206f30;
  font-weight: 400;
  font-size: 1.8rem;
}
.sec-accordion p {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #206f30;
  font-weight: 400;
  font-size: 16px;
  padding: 25px;
}
.sec-accordion p a {
  color: #206f30;
  font-weight: bold;
  transition: 0.3s;
}
.sec-accordion p a:hover {
  color: #2ff056;
  transform: scale(1.1);
}
.sec-accordion .accordion {
  width: 100%;
  margin-top: 20px;
}
.sec-accordion .p-gracias {
  margin-top: 50px;
}

.accordion-body {
  display: flex;
  flex-direction: column;
}

.img-acordeon {
  margin-bottom: 15px;
  width: 200px;
  height: auto;
  justify-self: center;
  align-self: center;
}
.img-acordeon img {
  width: 100%;
}

.ul-acordion li {
  color: #206f30;
  list-style-type: circle;
}

.span-acordion {
  font-weight: bold;
}

.accordion-button {
  color: #206f30;
  border: 1px solid #c7f0cf;
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
  main {
    margin-top: 100px;
  }
  .menu-desplegable {
    display: none;
  }
  header {
    display: flex;
    height: 70px;
    margin-bottom: 10px;
    padding-top: 10px;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }
  header nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    position: relative;
    margin-top: 30px;
    box-shadow: none;
  }
  header nav ul {
    display: flex;
    position: absolute;
    justify-content: center;
    padding-bottom: 20px;
  }
  header nav ul li {
    margin: 0 1rem;
    position: relative;
    right: 100px;
  }
  header nav ul li a {
    font-size: 14px;
    color: #206f30;
    transition: 0.8s;
  }
  header nav ul li a:hover {
    color: #3fca3a;
    transform: scale(1.5);
    font-size: 18px;
    font-weight: 600;
    filter: brightness(150%);
  }
  .li-inicio {
    display: none;
  }
  .logo {
    width: 5.5rem;
  }
  .logo:hover {
    transform: scale(1.08);
  }
  .logo-container {
    left: -85px;
    bottom: 48px;
    width: 100%;
  }
  .sec-carouselindex {
    width: 80%;
    margin-bottom: 40px;
  }
  .card-container-ini {
    width: 80%;
    gap: 54px;
  }
  .card-ini {
    width: 14rem;
    margin: 0px;
  }
  .nav-con-foot {
    display: flex;
  }
  .logo-chico {
    width: 8rem;
  }
  .sec-carouselnos {
    width: 80%;
  }
  .sec-nosotros {
    width: 80%;
  }
  .div-img-nosotros {
    width: 80%;
  }
  .sec-contacto {
    width: 80%;
  }
  .div-datos {
    padding: 0;
  }
  .div-datos h3 {
    font-size: 18px;
  }
  .div-datos ul li a {
    font-size: 13px;
  }
  .div-datos ul li img {
    width: 20px;
    height: 20px;
  }
  .div-datos ul li svg {
    width: 20px;
    height: 20px;
  }
  .div-map {
    margin-top: 10px;
  }
  .div-map iframe {
    height: 220px;
  }
  .form textarea {
    height: 150px;
  }
  .div-carouselcon {
    width: 80%;
  }
  .sec-accordion {
    width: 80%;
  }
  .div-card-plantas {
    width: 100%;
  }
  .card-plantas {
    width: 200px;
    height: 300px;
  }
  .card-plantas h3 {
    font-size: 14px;
    margin-top: 3px;
  }
  .card-plantas p {
    font-size: 11px;
  }
}
@media only screen and (min-width: 992px) {
  .menu-desplegable {
    display: none;
  }
  header {
    height: 215px;
    margin-bottom: 10px;
    padding-top: 10px;
  }
  header nav {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 40px;
    position: relative;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    margin-top: 170px;
  }
  header nav ul {
    display: flex;
    position: absolute;
    justify-content: center;
    padding-bottom: 20px;
  }
  header nav ul li {
    margin: 0 2.8rem;
    position: relative;
  }
  header nav ul li a {
    font-size: 17px;
    color: #206f30;
    transition: 0.8s;
  }
  header nav ul li a:hover {
    color: #3fca3a;
    transform: scale(1.5);
    font-size: 20px;
    font-weight: 600;
    filter: brightness(150%);
  }
  .li-inicio {
    display: none;
  }
  .logo {
    width: 11rem;
  }
  .logo:hover {
    transform: scale(1.08);
  }
  .logo-container {
    bottom: 5px;
    width: 100%;
  }
  .div-menu {
    display: none;
  }
  @keyframes anuncio {
    0% {
      transform: translateX(1600px);
    }
    100% {
      transform: translateX(-1500px);
    }
  }
  .anuncio {
    justify-content: space-between;
    background-color: #1cb43a;
    z-index: 10;
    color: white;
    display: flex;
    width: 100%;
    height: 20px;
    font-size: 12px;
    overflow: hidden;
    flex-direction: row;
  }
  .anuncio p {
    width: 100%;
    transform: translateX(1600px);
    animation-name: anuncio;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .nav-con-foot {
    display: flex;
  }
  .logo-chico {
    width: 8rem;
  }
  .div-logo-redes a svg {
    width: 50px;
    height: 50px;
  }
  main {
    margin-top: 240px;
  }
  .sec-carouselindex {
    width: 62%;
    margin-bottom: 40px;
  }
  .card-container-ini {
    gap: 38px;
    width: 64%;
  }
  .card-ini {
    width: 18rem;
    margin: 10px;
  }
  .div-card-lo-nuevo {
    width: 70%;
    gap: 40px;
    padding: 10px;
  }
  .div-card-plantas {
    width: 70%;
    gap: 40px;
    padding: 10px;
  }
  .card-plantas {
    width: 240px;
    height: 340px;
  }
  .card-plantas h3 {
    font-size: 16px;
    margin-top: 5px;
  }
  .card-plantas p {
    font-size: 12px;
  }
  .img-con-plantas {
    width: 100%;
    height: 195px;
  }
  .div-carouselcon {
    width: 62%;
    margin-bottom: 40px;
  }
  .sec-accordion {
    width: 62%;
  }
  .sec-accordion p {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
  }
  .accordion {
    margin-top: 40px;
  }
  .sec-carouselnos {
    width: 62%;
    margin-bottom: 40px;
  }
  .sec-nosotros {
    width: 62%;
  }
  .sec-nosotros h2 {
    margin-top: 55px;
    margin-bottom: 40px;
  }
  .sec-nosotros p {
    font-size: 16px;
  }
  .sec-nosotros .gracias {
    margin-top: 40px;
  }
  .div-img-nosotros {
    width: 62%;
  }
  .main-contacto {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 320px;
    padding: 40px;
    margin-top: 260px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    flex-direction: row;
  }
  .sec-contacto {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: -20px;
  }
  .div-datos {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-left: 0;
    width: 100%;
  }
  .div-datos h3 {
    margin-bottom: 20px;
    font-size: 23px;
  }
  .div-datos ul {
    padding: 0;
  }
  .div-datos ul li {
    display: flex;
    width: 100%;
  }
  .div-datos ul li img {
    width: 30px;
    height: 30px;
  }
  .div-datos ul li svg {
    width: 30px;
    height: 30px;
  }
  .div-datos ul li a {
    font-size: 18px;
  }
  .div-map {
    display: flex;
    width: 80%;
    margin-top: 10px;
    margin-left: 250px;
  }
  .div-map iframe {
    width: 90%;
    height: 250px;
  }
  .form {
    width: 50%;
    padding: 20px;
    padding-right: 150px;
    padding-left: 0;
    margin-left: -15px;
    margin-top: -10px;
  }
  .form .campo, .form textarea {
    width: 70%;
    padding: 15px 10px;
    margin-bottom: 30px;
  }
  .form textarea {
    height: 260px;
  }
}

/*# sourceMappingURL=style.css.map */
