//MAIN

main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 320px;
    margin-top: 210px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}