//SECCION CONSEJOS ACORDEON

.sec-accordion{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    h1{
        margin-top: 15px;
        color: #206f30;
        font-weight: 400;
        font-size: 1.8rem;
    }
    p{
        margin-top: 5px;
        margin-bottom: 5px;
        color: #206f30;
        font-weight: 400;
        font-size: 16px;
        padding: 25px;
        a{
            color: #206f30;
            font-weight: bold;
            transition: 0.3s;
            &:hover{
                color: #2ff056;
                transform: scale(1.1);
            }
        }
    }
    .accordion{
        width: 100%;
        margin-top: 20px;
    }
    .p-gracias{
        margin-top: 50px;
    }
}
.accordion-body{
    display: flex;
    flex-direction: column;
}
.img-acordeon{
    margin-bottom: 15px;
    width: 200px;
    height: auto;
    justify-self: center;
    align-self: center;
    img{
        width: 100%;
    }
}
.ul-acordion{
    li{
        color: #206f30;
        list-style-type: circle;
    }
} 
.span-acordion{
    font-weight: bold;
}
.accordion-button{
    color: #206f30;
    border: 1px solid #c7f0cf;
}