//SECCION LO NUEVO
.sec-lo-nuevo{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 70px;
    h2{
        color: #206f30;
        margin-bottom: 50px;
    }
}